/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (white): white;
Secondary Color (darkgreen): #96b39a;

https://madlittlemods.github.io/postcss-css-variables/playground/
http://autoprefixer.github.io/

 */

:root {
  --primaryText-color: #2b2b2b;
  --primaryBG-color: white;
  --secondaryBG-color: white;
  --primaryBorder-color: white;
  --font-weight: 700;
  --font-weight-body: 400;
  --font-size: 16px;
  --H-color: #2b2b2b;

  /* Button & Link styles here */

  --primaryButton-color: #357b70;
  --primaryButtonText-color: white;
  --buttonHoverText-color: black;

  /* Secondary buttons */
  --secondaryButton-color: #826664;
  --secondaryButtonText-color: #96b39a;

  /* NavList color */
  --NavList-color: grey;
  --NavListHover-color: #b8b8ff;

  /* link colors */
  --visitedLink-color: darkgreen;
  --selectedLink-color: blue;

  /* aList buttons */
  --aList-color: grey;
  --aListHover-color: #b8b8ff;

  /* Button & Link styles end */

  --BGcolor-grid__item: white;

  /* Animation color change */
  --sunColor-1: #edc655;
  --sunColor-2: #fcffad;
  --sunColor-3: #f76414;

  /* Animation color end */

  /* Padding */
  --padding-10: 10px;
  --padding-5: 5px;

  /* Padding end */
}

/* Base styles here */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size);

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
  color: var(--primaryText-color);
  background-color: var(--primaryBG-color);
  border: 3px solid var(--primaryBorder-color);
  margin: auto;
  min-height: 400px;

  /* margin-bottom: 100px; */
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  color: var(--H-color);
  margin: 0;
  margin-left: 24rem;

}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight);
  color: var(--H-color);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight);
  color: var(--H-color);
}

p {
  font-weight: bolder;
}

span{
  color:red;
  }

/* Base styles end */

.button,
button {
  /*margin: 3rem 1rem;*/
  color: white;
  background: #551a8b;
  font-family: "Encode Sans", sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  text-transform: uppercase;
}

.pokemon-list{
  background:red;
  width:50%;
  margin:auto;
  padding: 0.5rem;
  border-radius: 5px;
  list-style-type: none;
  border: 1px solid black;

}

.JS-button {
  margin: 0.0rem 0rem;
  color: white;
  background:linear-gradient(89deg, #0061f2 0%, rgb(0 255 161 / 99%) 100%);
  font-family: "Encode Sans", sans-serif;
  text-transform: capitalize;
  /*transition: 0.2s opacity;*/
  display: inline-block;
  padding: 0.3rem;
  border-radius: 5px;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: 200;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%),inset 0 10px 10px rgb(0 0 0 / 22%);
  width:100%;
  list-style-type: none;
  text-align: left;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  background:linear-gradient(89deg, white 0%, #710000 70%, rgb(0 255 161 / 99%) 100%);
  color: var(--buttonHoverText-color);
}

@media all and (max-width: 750px) {
  /* shared code */
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .pokemon-list{
    width: 100%;
  }
  h1 {
    margin-left: 2rem;
  }
  div.modal{
    background: white;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  background:linear-gradient(89deg, #ebedf0 0%, #710000 80%, white 100%);
  border-radius: 3px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: #1600d0;
  color: white;
  text-decoration: none;
}

.modal img {
  float: left;
}

.modal h1 {
  margin-top: 0;
  text-decoration:underline overline;
  text-transform: capitalize;
  margin-left: 0;
}

.modal p {
  margin-bottom: 0;
  line-height: 0.9;
}

.modal button:hover{
  background: red;
  color:white;
}
